[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
bootstrap4 = "*"
psycopg = "*"
psycopg2 = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"
psycopg2-binary = "*"
utils = "*"
decorators = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"
