[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-config-url = "*"
django = "*"
path = "*"
api = "*"
djangorestframework = "*"
status = "*"
bcrypt = "*"
utils = "*"
response = "*"

[dev-packages]

[requires]
python_version = "3.8"
